# .gitignore file for RiskPremium Repo

## STANDARD EXCLUSIONS
archive
docs/*.lyx
tmp
log
.Rhistory
.claude

# Specific files
docs/dividendpriceratio.tex
input/msi.sas7bdat

# Sources
src/paymon.R

# Superpowers
docs/superpowers

# Environment
.env